@charset "UTF-8";
@font-face {
    font-family: 'cat';
    src: url(fontes/Catwoman/CATWOMAN.TTF) format(truetype);
}
@font-face {
    font-family: 'relogio';
    src: url(fontes/digital_7/digital-7.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
*{
    margin: auto;
}
body{
    background-image: linear-gradient(to bottom, #a992db, #462294);
    background-attachment: fixed;
    text-align: center;
}
header > h1{
    font: normal 500 2em "cat", sans-serif;
    margin-bottom: 5%;
    color: white;
    text-shadow: 1px 1px 1px black;
    display: inline-block;
    padding: 10px;
}
header > h1:hover{
    background-color: rgb(59, 18, 207);
    color: white;
    border-radius: 10px; 
    transition: 0.2s;
}
main{
    background-color: white;
    padding: 40px;   
    width: 50%;
    border-radius: 15px;
}
main > p{
    margin-bottom: 30px;
    font: normal normal 1.1em 'Arial', sans-serif;
}
main > p > input#nascimento{
    background-color: #a594ca;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font: normal normal 1.5em 'relogio', sans-serif;
    margin-left: 10px;
}
main > p > input#nascimento:hover{
    background-color: black;
    color: #a594ca;
    transition: 0.2s;
}
main > p > input#verificar{
    background-color: #a594ca;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font: normal normal 1.5em 'relogio', sans-serif;
}
main > p > input#verificar:hover{
    background-color: black;
    color: #a594ca;
    transition: 0.2s;
}
footer{
    margin-top: 20px;
    font: italic normal 1.2em 'Arial';
    color: white;
}